.sidebar {

}

.sidebar.open {
}

.background {
}

.nav {
    display: flex;
    flex-direction: column;
}

.link {
}

.link:hover {
}

.active {
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 22px;
}
.close {
}

.close img {
}
